
body {
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
    color: gray;
}

.date {
    position: absolute;
    font-size: 17px;
    right: 80px;
    top: 2px;
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
}

.delete-button {
    display: none;
    position: absolute;
    right: 40px;
    top: 2px;
    border: 0;
    background-color: transparent;
}

.delete-button :active {
    background-color: gray;
}

.edit-button {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    border: 0;
    background-color: transparent;
}

.edit-button:active {
    background-color: gray;
}

.search-button {
    background-color: white;
    border: 0;
    position: absolute;
    right: 0;
}

.search-button:active {
    background-color: darkgray;
}

.author {
    position: absolute;
    margin: 8px 25px;
    font-size: 24px;
    padding-bottom: 12px;
    padding-left: 6px;
    border: 0 solid darkgray;
}

.photo {
    margin: auto;
    width: 80%;
    align-content: center;
    display: table-cell;
}

.description {
    font-size: 24px;
    width: 80%;
    margin: auto;
}

.tags {
    font-size: 24px;
    width: 80%;
    margin: auto;
}

.like-button {
    position: absolute;
    right: 27px;
    text-align: center;
    font-size: 23px;
    line-height: 1;
    border: 0;
    background-color: white;
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
    color: gray;
}

.like-heart {
    display: block;
    padding-bottom: 2px;
    margin: auto;
}

.like-button:active {
    padding: 6px;
    border: 2px solid darkgray;
}

.delete-window {
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(156, 156, 156, 0.8);
    height: 100%;
    z-index: 15;
    top: 0;
    left: 0;
}

.delete-window-content {
    width: 90px;
    position: relative;
    display: block;
    top: 25%;
    margin: auto;
    border-width: 2px;
    border-color: black;
    border-radius: 3%;
    padding: 24px;
    background-color: white;
}

.delete-window-form {
    position: relative;
}
.yes-delete-button {
    border-width: 2px;
    color: gray;
    background-color: white;
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
}
.yes-delete-button:active {
    background-color: darkseagreen;
}
.no-delete-button {
    position: relative;
    border-width: 2px;
    color: gray;
    background-color: white;
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
    left: 18px;
}
.no-delete-button:active {
    background-color: indianred;
}

.login-window {
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(156, 156, 156, 0.8);
    height: 100%;
    z-index: 15;
    top: 0;
    left: 0;
}

.login-window-content {
    width: 160px;
    position: relative;
    display: block;
    top: 25%;
    margin: auto;
    border-width: 2px;
    border-color: black;
    border-radius: 3%;
    padding: 24px;
    background-color: white;
}

.login-window-form {
    position: relative;
}

.add-window {
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(156, 156, 156, 0.8);
    height: 100%;
    z-index: 15;
    top: 0;
    left: 0;
}

.add-window-content {
    width: 40%;
    position: absolute;
    display: block;
    top: 15%;
    left: 30%;
    border-width: 2px;
    border-color: black;
    border-radius: 3%;
    padding: 24px;
    background-color: white;

}

.edit-window-form {
    position: relative;
}

.edit-window {
    display: none;
    position: fixed;
    width: 100%;
    background-color: rgba(156, 156, 156, 0.8);
    height: 100%;
    z-index: 15;
    top: 0;
    left: 0;
}

.edit-window-content {
    width: 40%;
    position: absolute;
    display: block;
    top: 15%;
    left: 30%;
    border-width: 2px;
    border-color: black;
    border-radius: 3%;
    padding: 24px;
    background-color: white;

}

.add-window-form {
    position: relative;
}

.add-window-line {
    width: 90%;
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
}

.close-add-window-button {
    position: relative;
    left: 90%;
    border: 0;
    background-color: white;
}

.close-edit-window-button {
    position: relative;
    left: 90%;
    border: 0;
    background-color: white;
}

.apply-add-window-button {
    position: relative;
    left: 90%;
    border: 0;
    background-color: white;
}

.apply-edit-window-button {
    position: relative;
    left: 90%;
    border: 0;
    background-color: white;
}

.post-author {
    font-size: 33px;
    margin-left: 15px;
}

.close-add-window-button :active {
    background-color: gray;
}

.close-login-window-button {
    position: relative;
    left: 120px;
    border: 0;
    background-color: white;
}

.close-login-window-button :active {
    background-color: gray;
}

.login-button {
    display: flex;
    margin: auto;
    background-color: white;
    border-color: gray;
    border-radius: 10%;
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
}

.login-button:active {
    background-color: gray;
}
.load-more-button {
    display: flex;
    margin: auto;
    border-width: 2px;
    color: gray;
    font-size: 30px;
    background-color: white;
    border-radius: 6px;
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
}
.load-more-button:active {
    background-color: gray;
}

@media screen and (min-width: 1530px) {
    .search-form {
        position: fixed;
        top: 140px;
        right: 336px;
    }

    .search-line {
        margin-bottom: 8px;
        font-family: "Candara Light", sans-serif;
        color: gray;
    }

    .search {
        border-radius: 24px;
        border: 2px solid darkgray;
        margin: auto;
        position: fixed;
        width: 18%;
        top: 120px;
        right: 300px;
    }

    .header-menu {
        position: absolute;
        top: 12px;
        right: 10px;
        font-size: 24px;
        padding-bottom: 60px;
    }

    .add-button {
        display: none;
        position: fixed;
        right: 72px;
        width: 10%;
        border: 0;
        background-color: white;
    }

    .add-button:active {
        background-color: darkgray;
    }

    footer {
        position: fixed;
        bottom: 24px;
        text-align: center;
        right: 144px;
        font-size: 12px;
        z-index: -1;
    }

    main {
        margin-top: 120px;
        margin-left: 84px;
        width: 50%;
        z-index: 5;
        background-color: white;
    }

    .post {
        border-width: 2px;
        border-color: darkgray;
        border-style: solid;
        position: relative;
        margin-bottom: 60px;
        background-color: white;
    }

    header {
        border-style: solid;
        width: 100%;
        border-color: darkgray;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        border-left: 0;
        border-top: 0;
        z-index: 10;
        padding-bottom: 60px;
        background-image: url(images/logo.png);
        background-repeat: no-repeat;
    }

    .logout-button {
        position: relative;
        background-color: white;
        border: 0;
        top: 4px;
    }

    .logout-button:active {
        background-color: darkgray;
    }

    .logout {
        border-width: 0;
        border-left: 2px;
        border-style: solid;
        border-left-color: darkgray;
        padding: 2px 2px 2px 12px;
        margin-left: 12px;
        position: relative;
    }

    .mobile-menu {
        display: none;
    }

    .search-author-icon {
        margin-left: 30px;
        margin-top: 24px;
    }

    .search-tags-icon {
        margin-left: 30px;
        margin-top: 24px;
        margin-bottom: 60px;
    }

    .search-date-icon {
        margin-left: 30px;
        margin-top: 24px;
    }
}

@media screen and (max-width: 1529px) {
    .mobile-menu {
        position: relative;
        background-color: white;
        border: 0;
        top: 0;
    }

    .mobile-menu:active {
        background-color: darkgray;
    }

    .header-menu {
        position: absolute;
        top: 12px;
        right: 10px;
        font-size: 24px;
    }

    .search-form {
        display: none;
    }

    .search-line {
        display: none;
    }

    .search {
        display: none;
    }

    .add-button {
        display: none;
    }


    footer {
        display: none;
    }

    main {
        margin: auto;
        margin-top: 60px;
        width: 100%;

    }

    .post {
        border-width: 2px;
        border-color: darkgray;
        border-style: solid;
        position: relative;
        margin-bottom: 60px;
    }

    header {
        border-style: solid;
        width: 100%;
        border-color: darkgray;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        border-left: 0;
        border-top: 0;
        z-index: 10;
        padding-bottom: 60px;
        background-image: url(images/mobileLogo.png);
        background-repeat: no-repeat;
        background-position: left 50%;
    }

    .logout-button {
        display: none;
    }

    .logout {
        display: none;
    }

    .login {
        display: none;
    }

    .username {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .close-add-window-button {
        left: 85%;
    }

    .apply-add-window-button {
        left: 85%;
    }
    .close-edit-window-button {
        left: 85%;
    }

    .apply-edit-window-button {
        left: 85%;
    }
}

@media screen and (max-width: 640px) {
    .close-add-window-button {
        left: 70%;
    }

    .apply-add-window-button {
        left: 70%;
    }

    .post-author {
        display: none;
    }

    .post-author-image {
        display: none;
    }
    .close-edit-window-button {
        left: 70%;
    }

    .apply-edit-window-button {
        left: 70%;
    }

}
