
body {
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
    color: gray;
}

.date {
    position: absolute;
    font-size: 15px;
    right: 48px;
    top: 4px;
}

.func-button {
    position: absolute;
    right: 4px;
    top: 10px;
    border: 0;
    background-color: white;
}

.func-button:active {
    background-color: darkgray;
}

.search-button {
    background-color: white;
    border: 0;
    position: absolute;
    right: 0;
}

.search-button:active {
    background-color: darkgray;
}

.author {
    position: absolute;
    margin: 8px 25px;
    font-size: 24px;
    padding-bottom: 12px;
    padding-left: 6px;
    border: 0 solid darkgray;
}

.photo {
    margin: auto;
    width: 80%;
    align-content: center;
    display: table-cell;
}

.description {
    font-size: 24px;
    width: 80%;
    margin: auto;
}
.tags{
    font-size: 24px;
    width: 80%;
    margin: auto;
}

.like-button {
    position: absolute;
    right: 24px;
    text-align: center;
    font-size: 27px;
    line-height: 1;
    border: 0;
    background-color: white;
    font-family: "Candara Light", "Comic Sans MS", "Courier New", serif;
}

.like-button:active {
    padding: 6px;
    border: 2px solid darkgray;
}

@media screen and (min-width: 1530px) {
    .search-form {
        position: fixed;
        top: 140px;
        right: 336px;
    }

    .search-line {
        margin-bottom: 8px;
        font-family: "Candara Light", sans-serif;
        color: gray;
    }

    .search {
        border-radius: 24px;
        border: 2px solid darkgray;
        margin: auto;
        position: fixed;
        width: 18%;
        top: 120px;
        right: 300px;
    }

    .header-menu {
        position: absolute;
        top: 18px;
        right: 10px;
        font-size: 24px;
        padding-bottom: 60px;
    }

    .add-button {
        position: fixed;
        right: 72px;
        width: 10%;
        border: 0;
        background-color: white;
    }

    .add-button:active {
        background-color: darkgray;
    }

    footer {
        position: fixed;
        bottom: 24px;
        text-align: center;
        right: 144px;
        font-size: 12px;
        z-index: -1;
    }

    main {
        margin-top: 120px;
        margin-left: 84px;
        width: 50%;
        z-index: 5;
        background-color: white;
    }

    .post {
        border-width: 2px;
        border-color: darkgray;
        border-style: solid;
        position: relative;
        margin-bottom: 60px;
        background-color: white;
    }

    header {
        border-style: solid;
        width: 100%;
        border-color: darkgray;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        border-left: 0;
        border-top: 0;
        z-index: 10;
        padding-bottom: 60px;
        background-image: url(images/logo.png);
        background-repeat: no-repeat;
    }

    .logout-button {
        position: relative;
        background-color: white;
        border: 0;
        top: 4px;
    }

    .logout-button:active {
        background-color: darkgray;
    }

    .logout {
        border-width: 0;
        border-left: 2px;
        border-style: solid;
        border-left-color: darkgray;
        padding: 2px 2px 2px 12px;
        margin-left: 12px;
        position: relative;
    }

    .mobile-menu {
        display: none;
    }
    .search-author-icon {
        margin-left: 30px;
        margin-top: 24px;
    }

    .search-tags-icon {
        margin-left: 30px;
        margin-top: 24px;
        margin-bottom: 60px;
    }

    .search-date-icon {
        margin-left: 30px;
        margin-top: 24px;
    }
}

@media screen and (max-width: 1529px) {
    .mobile-menu {
        position: relative;
        background-color: white;
        border: 0;
        top: 0;
    }

    .mobile-menu:active {
        background-color: darkgray;
    }

    .header-menu {
        position: absolute;
        top: 12px;
        right: 10px;
        font-size: 24px;
        padding-bottom: 60px;
    }

    .search-form {
        display: none;
    }

    .search-line {
        display: none;
    }

    .search {
        display: none;
    }

    .add-button {
        display: none;
    }



    footer {
        display: none;
    }

    main {
        margin: auto;
        margin-top: 60px;
        width: 100%;

    }

    .post {
        border-width: 2px;
        border-color: darkgray;
        border-style: solid;
        position: relative;
        margin-bottom: 60px;
    }

    header {
        border-style: solid;
        width: 100%;
        border-color: darkgray;
        position: fixed;
        background-color: white;
        top: 0;
        left: 0;
        border-left: 0;
        border-top: 0;
        z-index: 10;
        padding-bottom: 60px;
        background-image: url(images/mobileLogo.png);
        background-repeat: no-repeat;
        background-position: left 50%;
    }

    .logout-button {
        display: none;
    }

    .logout {
        display: none;
    }

    .username {
        display: none;
    }
}
